
<% if logged_in?(session)%>
<div class="not_logged_in">
  <p> You're already logged in! </p> <%= link_to "Continue shopping", '/products', class: 'btn btn-lg btn-primary' %>
  </div>
  <% else %>

<h1>Login</h1>
<div class="login">
<div class="col-sm-8">
<dl class="dl-horizontal">

<%= form_tag '/login' do %>

  <dt>Email</dt>
  <dd><%= text_field_tag :email %></dd>
  <br>
  <dt>Password</dt>
  <dd><%= password_field_tag :password %></dd>
  <br>
  <div class="login_button"> <%= submit_tag "Submit" %> </div>

<% end %>

  </dl>
  </div>
</div>
<%end%>