<tr>
  <td>
    <h4><%= item.product.name %> </h4>
    <h4> x <%=item.quantity%></h4>
</td>
<td>
  <h4><%= item.product.description %></h4>
</td>
<td>
  <h4 class="price">
    <%= humanized_money_with_symbol item.total_price_cents/100.0 %>
  </h4>
</td>
<td>
  <%= image_tag item.product.image.tiny%>
</td>
</tr>







