<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
        <div>
  <% if !logged_in?(session) %>
   <div class="not_logged_in3"> <p> Hello sir, you cannot review if you are not logged in, please login! </p> <%= link_to "Login", '/login', class: 'btn btn-lg btn-primary' %> </div>
  <% else %>
  <div class='review_form'>
    <%= form_for ([@product, @review]) do |f| %>
    <ul> Write a new review </ul>
    <%= f.text_area :description %>
    <ul> Rating <%= f.select :rating, ['', '1', '2', '3', '4', '5']%>
    <%= submit_tag "Submit" %> </ul>
  </div>
<% end %>
<% end %>
  <% if is_review_empty?(@product) %>
  <div class="average"> Be the first to review!</div>
  <% else %>
  <div class="average"> Average rating : <%= (@product.reviews.sum(:rating)/(@product.reviews.size).to_f).round(2) %>/5</div>
  <% end %>
</div>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %>$</dd>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <p class="review_title"> Reviews </p>

        <% @product.reviews.sort{|a,b| b.created_at <=> a.created_at}.each do |review| %>
        <div class="single_review">
          <div>
         <ul> Review :
        <%= review.description  %> </ul>
       <ul> Rating :
        <%= review.rating %>/5</ul>
        <ul>Created :
        <%= review.created_at %> </ul>
      </div>
        <% if is_same_user?(session, review)%>
        <div class="review_button"> <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" }%> </div>
        <% end %>
        </div>
        <% end %>

</dl>

      </div>

    </div>

  </article>

</section>
